openapi: 3.0.3
info:
  title: budgeter_v2
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://budgeterapi.co.uk'
paths:
  /api/forgot-password:
    get:
      summary: ''
      operationId: getApiForgotPassword
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n\r\n<head>\r\n    <meta charset=\"UTF-8\">\r\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\r\n    <title>Document</title>\r\n</head>\r\n\r\n<body>\r\n    <form action=\"#\" method=\"POST\">\r\n        <input type=\"hidden\" name=\"_token\" value=\"\">        <label for=\"email\">Please enter your email address</label>\r\n        <input type=\"email\" name=\"email\" value=\"dgloria.web@gmail.com\">\r\n        <button>Submit</button>\r\n    </form>\r\n</body>\r\n\r\n</html>"
      tags:
        - Endpoints
      security: []
    post:
      summary: ''
      operationId: postApiForgotPassword
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  '/api/reset-password/{token}':
    get:
      summary: ''
      operationId: getApiResetPasswordToken
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n\r\n<head>\r\n    <meta charset=\"UTF-8\">\r\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\r\n    <title>Document</title>\r\n</head>\r\n\r\n<body>\r\n    <form action=\"/api/reset-password\" method=\"POST\">\r\n        <input type=\"hidden\" name=\"_token\" value=\"\">        <label for=\"email\">Please enter your email address</label>\r\n        <input type=\"email\" name=\"email\">\r\n        <label for=\"password\">Please enter your password</label>\r\n        <input type=\"password\" name=\"password\">\r\n        <label for=\"password_confirmation\">Please confirm your password</label>\r\n        <input type=\"password\" name=\"password_confirmation\">\r\n        <input type=\"hidden\" name=\"token\" id=\"token\" value=\"ullam\">\r\n        <button>Submit</button>\r\n    </form>\r\n</body>\r\n\r\n</html>"
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: token
        description: ''
        example: ullam
        required: true
        schema:
          type: string
  /api/reset-password:
    post:
      summary: ''
      operationId: postApiResetPassword
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  '/api/email/verify/{id}/{hash}':
    get:
      summary: ''
      operationId: getApiEmailVerifyIdHash
      description: ''
      parameters: []
      responses:
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Invalid signature.'
                  exception: Illuminate\Routing\Exceptions\InvalidSignatureException
                  file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ValidateSignature.php'
                  line: 26
                  trace:
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 167
                      function: handle
                      class: Illuminate\Routing\Middleware\ValidateSignature
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Routing\Middleware\SubstituteBindings.php'
                      line: 50
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 167
                      function: handle
                      class: Illuminate\Routing\Middleware\SubstituteBindings
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                      line: 127
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                      line: 103
                      function: handleRequest
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                      line: 55
                      function: handleRequestUsingNamedLimiter
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 167
                      function: handle
                      class: Illuminate\Routing\Middleware\ThrottleRequests
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 103
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 723
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 698
                      function: runRouteWithinStack
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 662
                      function: runRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                      line: 651
                      function: dispatchToRoute
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 167
                      function: dispatch
                      class: Illuminate\Routing\Router
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 128
                      function: 'Illuminate\Foundation\Http\{closure}'
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\app\Http\Middleware\Cors.php'
                      line: 19
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 167
                      function: handle
                      class: App\Http\Middleware\Cors
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\app\Http\Middleware\ForceJsonResponse.php'
                      line: 20
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 167
                      function: handle
                      class: App\Http\Middleware\ForceJsonResponse
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull.php'
                      line: 31
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 167
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                      line: 21
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TrimStrings.php'
                      line: 40
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 167
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\TrimStrings
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\ValidatePostSize.php'
                      line: 27
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 167
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\ValidatePostSize
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance.php'
                      line: 86
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 167
                      function: handle
                      class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\fruitcake\laravel-cors\src\HandleCors.php'
                      line: 52
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 167
                      function: handle
                      class: Fruitcake\Cors\HandleCors
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Http\Middleware\TrustProxies.php'
                      line: 39
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 167
                      function: handle
                      class: Illuminate\Http\Middleware\TrustProxies
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                      line: 103
                      function: 'Illuminate\Pipeline\{closure}'
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 142
                      function: then
                      class: Illuminate\Pipeline\Pipeline
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                      line: 111
                      function: sendRequestThroughRouter
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 300
                      function: handle
                      class: Illuminate\Foundation\Http\Kernel
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 288
                      function: callLaravelOrLumenRoute
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 91
                      function: makeApiCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 44
                      function: makeResponseCall
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                      line: 35
                      function: makeResponseCallIfConditionsPass
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 236
                      function: __invoke
                      class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 166
                      function: iterateThroughStrategies
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                      line: 95
                      function: fetchResponses
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 125
                      function: processRoute
                      class: Knuckles\Scribe\Extracting\Extractor
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 72
                      function: extractEndpointsInfoFromLaravelApp
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                      line: 50
                      function: extractEndpointsInfoAndWriteToDisk
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\knuckleswtf\scribe\src\Commands\GenerateDocumentation.php'
                      line: 53
                      function: get
                      class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 36
                      function: handle
                      class: Knuckles\Scribe\Commands\GenerateDocumentation
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Container\Util.php'
                      line: 40
                      function: 'Illuminate\Container\{closure}'
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 93
                      function: unwrapIfClosure
                      class: Illuminate\Container\Util
                      type: '::'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                      line: 37
                      function: callBoundMethod
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Container\Container.php'
                      line: 653
                      function: call
                      class: Illuminate\Container\BoundMethod
                      type: '::'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                      line: 136
                      function: call
                      class: Illuminate\Container\Container
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\symfony\console\Command\Command.php'
                      line: 298
                      function: execute
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                      line: 121
                      function: run
                      class: Symfony\Component\Console\Command\Command
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\symfony\console\Application.php'
                      line: 1040
                      function: run
                      class: Illuminate\Console\Command
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\symfony\console\Application.php'
                      line: 301
                      function: doRunCommand
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\symfony\console\Application.php'
                      line: 171
                      function: doRun
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Console\Application.php'
                      line: 94
                      function: run
                      class: Symfony\Component\Console\Application
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Foundation\Console\Kernel.php'
                      line: 129
                      function: run
                      class: Illuminate\Console\Application
                      type: '->'
                    -
                      file: 'C:\xampp\htdocs\budgeter_v2\artisan'
                      line: 37
                      function: handle
                      class: Illuminate\Foundation\Console\Kernel
                      type: '->'
                properties:
                  message:
                    type: string
                    example: 'Invalid signature.'
                  exception:
                    type: string
                    example: Illuminate\Routing\Exceptions\InvalidSignatureException
                  file:
                    type: string
                    example: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ValidateSignature.php'
                  line:
                    type: integer
                    example: 26
                  trace:
                    type: array
                    example:
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 167
                        function: handle
                        class: Illuminate\Routing\Middleware\ValidateSignature
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Routing\Middleware\SubstituteBindings.php'
                        line: 50
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 167
                        function: handle
                        class: Illuminate\Routing\Middleware\SubstituteBindings
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                        line: 127
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                        line: 103
                        function: handleRequest
                        class: Illuminate\Routing\Middleware\ThrottleRequests
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Routing\Middleware\ThrottleRequests.php'
                        line: 55
                        function: handleRequestUsingNamedLimiter
                        class: Illuminate\Routing\Middleware\ThrottleRequests
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 167
                        function: handle
                        class: Illuminate\Routing\Middleware\ThrottleRequests
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 103
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 723
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 698
                        function: runRouteWithinStack
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 662
                        function: runRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Routing\Router.php'
                        line: 651
                        function: dispatchToRoute
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                        line: 167
                        function: dispatch
                        class: Illuminate\Routing\Router
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 128
                        function: 'Illuminate\Foundation\Http\{closure}'
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\app\Http\Middleware\Cors.php'
                        line: 19
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 167
                        function: handle
                        class: App\Http\Middleware\Cors
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\app\Http\Middleware\ForceJsonResponse.php'
                        line: 20
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 167
                        function: handle
                        class: App\Http\Middleware\ForceJsonResponse
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull.php'
                        line: 31
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 167
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\ConvertEmptyStringsToNull
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TransformsRequest.php'
                        line: 21
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\TrimStrings.php'
                        line: 40
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TransformsRequest
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 167
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\TrimStrings
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\ValidatePostSize.php'
                        line: 27
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 167
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\ValidatePostSize
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance.php'
                        line: 86
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 167
                        function: handle
                        class: Illuminate\Foundation\Http\Middleware\PreventRequestsDuringMaintenance
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\fruitcake\laravel-cors\src\HandleCors.php'
                        line: 52
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 167
                        function: handle
                        class: Fruitcake\Cors\HandleCors
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Http\Middleware\TrustProxies.php'
                        line: 39
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 167
                        function: handle
                        class: Illuminate\Http\Middleware\TrustProxies
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line: 103
                        function: 'Illuminate\Pipeline\{closure}'
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                        line: 142
                        function: then
                        class: Illuminate\Pipeline\Pipeline
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Foundation\Http\Kernel.php'
                        line: 111
                        function: sendRequestThroughRouter
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 300
                        function: handle
                        class: Illuminate\Foundation\Http\Kernel
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 288
                        function: callLaravelOrLumenRoute
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 91
                        function: makeApiCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 44
                        function: makeResponseCall
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\knuckleswtf\scribe\src\Extracting\Strategies\Responses\ResponseCalls.php'
                        line: 35
                        function: makeResponseCallIfConditionsPass
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                        line: 236
                        function: __invoke
                        class: Knuckles\Scribe\Extracting\Strategies\Responses\ResponseCalls
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                        line: 166
                        function: iterateThroughStrategies
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\knuckleswtf\scribe\src\Extracting\Extractor.php'
                        line: 95
                        function: fetchResponses
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                        line: 125
                        function: processRoute
                        class: Knuckles\Scribe\Extracting\Extractor
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                        line: 72
                        function: extractEndpointsInfoFromLaravelApp
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\knuckleswtf\scribe\src\GroupedEndpoints\GroupedEndpointsFromApp.php'
                        line: 50
                        function: extractEndpointsInfoAndWriteToDisk
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\knuckleswtf\scribe\src\Commands\GenerateDocumentation.php'
                        line: 53
                        function: get
                        class: Knuckles\Scribe\GroupedEndpoints\GroupedEndpointsFromApp
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                        line: 36
                        function: handle
                        class: Knuckles\Scribe\Commands\GenerateDocumentation
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Container\Util.php'
                        line: 40
                        function: 'Illuminate\Container\{closure}'
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                        line: 93
                        function: unwrapIfClosure
                        class: Illuminate\Container\Util
                        type: '::'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Container\BoundMethod.php'
                        line: 37
                        function: callBoundMethod
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Container\Container.php'
                        line: 653
                        function: call
                        class: Illuminate\Container\BoundMethod
                        type: '::'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                        line: 136
                        function: call
                        class: Illuminate\Container\Container
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\symfony\console\Command\Command.php'
                        line: 298
                        function: execute
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Console\Command.php'
                        line: 121
                        function: run
                        class: Symfony\Component\Console\Command\Command
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\symfony\console\Application.php'
                        line: 1040
                        function: run
                        class: Illuminate\Console\Command
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\symfony\console\Application.php'
                        line: 301
                        function: doRunCommand
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\symfony\console\Application.php'
                        line: 171
                        function: doRun
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Console\Application.php'
                        line: 94
                        function: run
                        class: Symfony\Component\Console\Application
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Foundation\Console\Kernel.php'
                        line: 129
                        function: run
                        class: Illuminate\Console\Application
                        type: '->'
                      -
                        file: 'C:\xampp\htdocs\budgeter_v2\artisan'
                        line: 37
                        function: handle
                        class: Illuminate\Foundation\Console\Kernel
                        type: '->'
                    items:
                      type: object
                      properties:
                        file:
                          type: string
                          example: 'C:\xampp\htdocs\budgeter_v2\vendor\laravel\framework\src\Illuminate\Pipeline\Pipeline.php'
                        line:
                          type: integer
                          example: 167
                        function:
                          type: string
                          example: handle
                        class:
                          type: string
                          example: Illuminate\Routing\Middleware\ValidateSignature
                        type:
                          type: string
                          example: '->'
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the verify.'
        example: corrupti
        required: true
        schema:
          type: string
      -
        in: path
        name: hash
        description: ''
        example: natus
        required: true
        schema:
          type: string
  /api/patreon:
    get:
      summary: 'Display a listing of the resource.'
      operationId: displayAListingOfTheResource
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: ''
      tags:
        - Endpoints
      security: []
  /api/login:
    post:
      summary: ''
      operationId: postApiLogin
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: maybelle98@example.org
                password:
                  type: string
                  description: 'Must be at least 6 characters.'
                  example: 'gM+`a94(wE+Y&#?LIb{'
              required:
                - email
                - password
      security: []
  /api/register:
    post:
      summary: ''
      operationId: postApiRegister
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: ppnztcrroizc
                email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: amani72@example.net
                password:
                  type: string
                  description: 'Must be at least 6 characters.'
                  example: qV(eXD8dPzEV1
              required:
                - name
                - email
                - password
      security: []
  /api/resetPassword:
    post:
      summary: ''
      operationId: postApiResetPassword
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/getNearbyPlaces:
    get:
      summary: ''
      operationId: getApiGetNearbyPlaces
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  results: []
                properties:
                  results:
                    type: array
                    example: []
      tags:
        - Endpoints
      security: []
  /api/books:
    post:
      summary: 'Store a new book in the database.'
      operationId: storeANewBookInTheDatabase
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  '/api/books/{id}':
    post:
      summary: 'Update the specified resource in storage.'
      operationId: updateTheSpecifiedResourceInStorage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the book.'
        example: quia
        required: true
        schema:
          type: string
  /api/logout:
    post:
      summary: ''
      operationId: postApiLogout
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/patreonupdate:
    get:
      summary: "connect to the api, and store the data in the database\nthis is scheduled to run every minute in app/Console/Kernel.php"
      operationId: connectToTheApiAndStoreTheDataInTheDatabasethisIsScheduledToRunEveryMinuteInAppConsoleKernelphp
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
  /api/users:
    get:
      summary: 'Display a listing of the resource.'
      operationId: displayAListingOfTheResource
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
  '/api/users/{id}':
    get:
      summary: 'Display the specified resource.'
      operationId: displayTheSpecifiedResource
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the user.'
        example: voluptatem
        required: true
        schema:
          type: string
  /api/mileages:
    get:
      summary: 'Display a listing of the resource.'
      operationId: displayAListingOfTheResource
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    post:
      summary: 'Store a newly created resource in storage.'
      operationId: storeANewlyCreatedResourceInStorage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2024-04-30T19:46:05'
                opening_mileage:
                  type: integer
                  description: ''
                  example: 6
                closing_mileage:
                  type: integer
                  description: ''
                  example: 10
                partner_id:
                  type: integer
                  description: ''
                  example: 13
                location_id_start:
                  type: integer
                  description: ''
                  example: 9
                location_id_end:
                  type: integer
                  description: ''
                  example: 5
                personal_travel_at_start:
                  type: integer
                  description: ''
                  example: 18
                comments:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: g
              required:
                - date
                - opening_mileage
                - closing_mileage
                - partner_id
                - location_id_start
                - location_id_end
      security: []
  '/api/last_mileage_data/{id}':
    get:
      summary: 'Find the last row entry'
      operationId: findTheLastRowEntry
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the last mileage datum.'
        example: blanditiis
        required: true
        schema:
          type: string
  '/api/mileages/{id}':
    get:
      summary: 'Display the specified resource.'
      operationId: displayTheSpecifiedResource
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    post:
      summary: 'Update the specified resource in storage.'
      operationId: updateTheSpecifiedResourceInStorage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2024-04-30T19:46:05'
                opening_mileage:
                  type: integer
                  description: ''
                  example: 2
                closing_mileage:
                  type: integer
                  description: ''
                  example: 10
                partner_id:
                  type: integer
                  description: ''
                  example: 20
                location_id_start:
                  type: integer
                  description: ''
                  example: 12
                location_id_end:
                  type: integer
                  description: ''
                  example: 14
                personal_travel_at_start:
                  type: integer
                  description: ''
                  example: 8
                comments:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: mxovjfbefdok
              required:
                - date
                - opening_mileage
                - closing_mileage
                - partner_id
                - location_id_start
                - location_id_end
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the mileage.'
        example: ab
        required: true
        schema:
          type: string
  '/api/mileage_report/{id}':
    get:
      summary: 'Display the specified resource.'
      operationId: displayTheSpecifiedResource
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the mileage report.'
        example: dolor
        required: true
        schema:
          type: string
  /api/partners:
    get:
      summary: 'Display a listing of the resource.'
      operationId: displayAListingOfTheResource
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    post:
      summary: 'Store a newly created resource in storage.'
      operationId: storeANewlyCreatedResourceInStorage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                partner:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: eihhuf
              required:
                - partner
      security: []
  /api/locations:
    get:
      summary: 'Display a listing of the resource.'
      operationId: displayAListingOfTheResource
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
  '/api/userpartners/{id}':
    get:
      summary: 'Display the specified resource.'
      operationId: displayTheSpecifiedResource
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the userpartner.'
        example: maxime
        required: true
        schema:
          type: string
  '/api/getuserpartners/{user_id}':
    get:
      summary: 'Display the specified resource.'
      operationId: displayTheSpecifiedResource
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: user_id
        description: 'The ID of the user.'
        example: in
        required: true
        schema:
          type: string
  /api/userpartner:
    post:
      summary: 'Update the specified resource in storage.'
      operationId: updateTheSpecifiedResourceInStorage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                  description: ''
                  example: 8
                partner_id:
                  type: integer
                  description: ''
                  example: 16
                enabled:
                  type: integer
                  description: ''
                  example: 12
              required:
                - user_id
                - partner_id
                - enabled
      security: []
tags:
  -
    name: Endpoints
    description: ''
